<section id="todos">
  <header>
    <h2>
      Editing '<%= @list[:name] %>'
    </h2>
    <ul>
      <li>
        <form action="/lists/<%= @list[:id] %>/delete" class="delete"
            method="post">
          <button type="submit" class="delete">
            Delete list
          </button>
        </form>
      </li>
    </ul>
  </header>

  <form action="/lists/<%= @list[:id] %>" method="post">
    <dl>
      <dt>
        <label for="list_name"> Edit the name for the list:</label>
      </dt>
      <dd>
        <input name="list_name" placeholder="List Name" type="text"
          value="<%= @list[:name] %>" autofocus>
      </dd>
    </dl>
    <fieldset class="actions">
      <input type="submit" value="Save">
      <a href="/lists/<%= @list[:id] %>">Cancel</a>
    <fieldset>
  </form>
</section>
